<app-home></app-home>
<router-outlet></router-outlet>
<div class="container mt-4">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="reg fw-bold fs-2 mx-5">
          Edit User
        </div>
        <form>
          <div class="div">
            <div class="name">
              <label class="mt-2 fs-5">Id <span class="text-danger">*</span></label>
              <input type="number" formControlName="id" name="id" class="form-control" placeholder="id">
            </div>
            <div class="name">
              <label class="mt-2 fs-5">Name <span class="text-danger">*</span></label>
              <input type="name" formControlName="name" name="name" class="form-control" placeholder="Name">
            </div>
            <div class="lastname">
              <label class="mt-2 fs-5">Address <span class="text-danger">*</span></label>
              <input type="text" formControlName="address" name="address" class="form-control" placeholder="Address">
            </div>
            <div class="email">
              <label class="mt-2 fs-5">Class <span class="text-danger">*</span></label>
              <input type="number" formControlName="class" name="class" class="form-control" placeholder="Class">
            </div>
            <div class="password">
              <label class="mt-2 fs-5">Age <span class="text-danger">*</span></label>
              <input type="number" formControlName="age" name="age" class="form-control" placeholder="Age">
            </div>
          </div>


    <button
    type="submit"
    class="btn btn-primary"
    style="border-radius: 60px;
    margin-top: 30px;
    width: 120px;
    margin-left: 30px;">Edit</button>
  </form>
</div>
