
<div class="container mt-4">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="reg fw-bold fs-2 mx-5">
          Edit User
        </div>
        <form [formGroup]="editform">
          <div class="div">
            <div class="name">
              <label class="mt-2 fs-5">Name <span class="text-danger">*</span></label>
              <input type="name" formControlName="name" name="name" class="form-control" placeholder="Name">
            </div>
            <div class="email">
              <label class="mt-2 fs-5">Email <span class="text-danger">*</span></label>
              <input type="text" formControlName="email" name="email" class="form-control" placeholder="Email">
            </div>
            <div class="password">
              <label class="mt-2 fs-5">Password <span class="text-danger">*</span></label>
              <input type="password" formControlName="password" name="password" class="form-control" placeholder="Password">
            </div>
            <div class="mobilenumber">
              <label class="mt-2 fs-5">Mobile Number <span class="text-danger">*</span></label>
              <input type="number" formControlName="mobileNumber" name="password" class="form-control" placeholder="Mobile Number">
            </div>
          </div>


    <button
    type="submit"
    (click)="edit(routetable,editform.value)"
    class="btn btn-primary"
    style="border-radius: 60px;
    margin-top: 30px;
    width: 120px;
    margin-left: 30px;">Save</button>
  </form>
</div>
