<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="reg fs-3 fw-bold">
        Add User
      </div>
      <form [formGroup]="userforms">
        <div class="div">
          <div class="uname">
            <label class="mt-2 fs-5">Name <span class="text-danger">*</span></label>
            <input type="text" formControlName="name" name="name" class="form-control" placeholder="Name">
          </div>
          <div class="uemail">
            <label class="mt-2 fs-5">Email <span class="text-danger">*</span></label>
            <input type="email" formControlName="email" name="email" class="form-control" placeholder="Email">
          </div>
          <div class="upassword">
            <label class="mt-2 fs-5">Password <span class="text-danger">*</span></label>
            <input type="password" formControlName="password" name="class" class="form-control" placeholder="Password">

          </div>
          <div class="umobilenumber">
            <label class="mt-2 fs-5">Mobile Number <span class="text-danger">*</span></label>
            <input type="number" formControlName="mobileNumber" name="mNumber" class="form-control" placeholder="Mobile Number">
          </div>
        </div>
        <div class="button">
          <button class="submit btn-primary mt-3" style="margin-right: 60px;
          border-radius: 30px;
          width:120px" (click)="Adduser(userforms.value)"
          >Add</button>
        </div>
      </form>
    </div>
  </div>
</div>
