<app-home></app-home>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="reg">
        Register
      </div>
      <form [formGroup]="Form">
        <div class="div">
          <div class="name">
            <label class="mt-2 fs-5">First Name <span class="text-danger">*</span></label>
            <input type="name" data-toggle="tooltip" data-placement="bottom" title="First Name" formControlName="firstname" name="fname" class="form-control" placeholder="Name">
          </div>
          <div class="lastname">
            <label class="mt-2 fs-5">Last Name <span class="text-danger">*</span></label>
            <input type="name" data-toggle="tooltip" data-placement="bottom" title="Last Name" formControlName="lastname" name="lname" class="form-control" placeholder="Last Name">

          </div>
          <div class="email">
            <label class="mt-2 fs-5">Email <span class="text-danger">*</span></label>
            <input type="email" data-toggle="tooltip" data-placement="bottom" title="Email" formControlName="email" name="email" class="form-control" placeholder="Email">

          </div>
          <div class="password">
            <label class="mt-2 fs-5">Password <span class="text-danger">*</span></label>
            <input type="password" data-toggle="tooltip" data-placement="bottom" title="Password" formControlName="password" name="password" class="form-control" placeholder="Password">

          </div>
        </div>
        <div class="button">
          <button class="submit" data-toggle="tooltip" data-placement="bottom" title="Submit" (click)="onSubmitForm(Form)"
          [disabled]="Form.invalid">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
